<div class="modal" id="help-view" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Color Selector</h3>
	</div>
	<div class="modal-body container-fluid">
		<div class="row-fluid">
			<div class="span3">Base color</div>
			<div class="span3"><input type="text" name="base-color"></div>
		</div>
		<div class="row-fluid">
			<div class="span3">Main color</div>
			<div class="span3"><input type="text" name="main-color"></div>
		</div>
		<div class="row-fluid">
			<div class="span3">Accent color</div>
			<div class="span3"><input type="text" name="accent-color"></div>
		</div>
	</div>
</div>