<div id="customize-this" tabindex="-1" class="fixed-bottom">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">Base color<input type="text" name="base-color" class="color-code"></div>
			<div class="span3">Main color<input type="text" name="main-color" class="color-code"></div>
			<div class="span3">Accent color<input type="text" name="accent-color" class="color-code"></div>
		</div>
		<div id="dribbble-colors" class="row-fluid">
		</div>
		<div id="dribbble-shots" class="row-fluid">
			<div id="dribbble-shots-carousel" class="carousel slide">
			</div>
		</div>
	</div>
</div>