<div>
	<span class="arrow-up"/><small>Drag and drop your favorite color.</small>
</div>
<ul class="color-chips group">
{{#each this}}
	<li class="color">
		<a href="#" style="background-color: {{code}}" title="{{code}}">{{code}}</a>
	</li>
{{/each}}
</ul>