.fixed-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-right:auto;
	margin-left: auto;
	background-color: rgba(255,255,255,.5);
}

#dribbble-shots {
	position: relative;
}
#dribbble-colors {
	padding-bottom: 5px;
	text-align: center;
}

span.arrow-up {
  width:0px;
  height:0px;
  border-left:6px solid transparent;  /* left arrow slant */
  border-right:6px solid transparent; /* right arrow slant */
  border-bottom:6px solid #2f2f2f; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
  display: inline-block;
}

ul.color-chips {
	list-style: none;
	display: inline-block;
}

ul.color-chips li {
	float: left;
	margin: 0;
}

ul.color-chips li a {
	float: left;
	width: 40px;
	height:32px;
	text-indent: -9999px;
	background-image: url(images/glass-light.png);
	background-repeat: repeat-x;
	background-position: 0 50%;
}

ul.color-chips li:first-child a {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

ul.color-chips li:last-child a {
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
